<html>
  {{> include/_head }}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <section id="main" class="wrapper">
        <div class="inner">
          <h1 class="major">Centre for Fiscal Democracy: Our approach</h1>
          <p>Here is a <i>very</i> brief summary of the philosophy and
            approach we've evolved and hope to stick to:</p>
          <ul>
            <li>prefer to do what is already known by experience to work;
              be blunt about getting things right, and acting strategically,
              rather than innovating</li>
            <li>be gradual, tenacious, sustainable, long-term, concrete,
              practical, consistent and realistic</li>
            <li>only accept funding that won't deflect us from our strategy;
              be happy to leave money on the table</li>
            <li>prefer open source, open data, self-hostable software,
              agreed protocols and interfaces, standards</li>
            <li>form long-term relationships with civil society actors
              to scrutinise and engage with each state entity monitored</li>
            <li>if individuals want only part of what we provide,
              don't make it unreasonably hard for them not to take the whole;
              they may combine our work with their own; accept that others
              get credit for changes we enable</li>
          </ul>
        </div>
      </section>
    </div>
  {{> include/_footer }}
  {{> include/_scripts }}
  </body>
</html>
