<!DOCTYPE HTML>
<html>
  {{> include/_head }}
  <body>
    <!-- Sidebar -->
    <section id="sidebar">
      <div class="inner">
        <nav>
          <ul>
            <li>
              <a href="#intro">Welcome</a>
            </li>
            <li>
              <a href="#one">What we do</a>
            </li>
            <li>
              <a href="#two">How we work</a>
            </li>
            <li>
              <a href="#three">Get in touch</a>
            </li>
            <li>
              <a href="#change-lang"><i class="fa fa-world"></i> CL</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Intro -->
      <section id="intro" class="wrapper style1 fullscreen fade-up">
        <div class="inner">
          <h1>Centre for Fiscal Democracy</h1>
        <!--  <p>Government by the living, for the living.</p> -->
          <p>We exist to promote democratic control over public expenditure
            through</p>
          <ul>
            <li>transparency, software and open data</li>
            <li>research publications to inform public understanding
              of public expenditure and revenue</li>
            <li>work with partner individuals and organisations
              around the world</li>
          </ul>
          <ul class="actions">
            <li>
              <a href="team.html" class="button scrolly">Meet the team</a>
            </li>
            <li>
              <a href="approach.html" class="button scrolly">Our approach</a>
            </li>
          </ul>
        </div>
      </section>
      <!-- One -->
      <section id="one" class="wrapper style2 spotlights">
        {{# themes }}
        {{> include/_theme }}
        {{/ themes }}
      </section>
      <!-- Two -->
      <section id="two" class="wrapper style3 fade-up">
        <div class="inner">
          <h2>What we do</h2>
          <div class="features">
            {{# actions }}
            {{> include/_action }}
            {{/ actions }}
        </div>
      </section>
      <!-- Three -->
      <section id="three" class="wrapper style1 fade-up">
      {{> include/_contact }}
      </section>
    </div>
  {{> include/_footer }}
  {{> include/_scripts }}
  </body>
</html>
