<!DOCTYPE HTML>
<html>
  {{> include/_head }}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <section id="main" class="wrapper">
        <div class="inner">
          <h1 class="major">Centre for Fiscal Democracy: Presentation links</h1>
          <ul>
            <li><a href="http://budzeti.ba/">budzeti.ba</a></li>
            <li><a href="http://mk.ucant.org/media/openspending-francais/">OS Morocco</a></li>
          </ul>
        </div>
      </section>
    </div>
  {{> include/_footer }}
  {{> include/_scripts }}
  </body>
</html>
