    <!-- Footer -->
    <footer id="footer" class="wrapper style1-alt">
      <div class="inner">
        <ul class="menu">
          <li>&copy; Centre for Fiscal Democracy. Some rights reserved.</li>
          <li>Design: <a href="http://html5up.net">HTML5 UP</a>
          </li>
          <!--
          Hyperspace by HTML5 UP
          tml5up.net | @ajlkn

          HTML/CSS template used by permission under the Creative Commons
          Attribution 3.0 Licence(!) - try impressed they let people use
          something so nice :)
          -->
        </ul>
      </div>
    </footer>
