<!DOCTYPE HTML>
<html>
  {{> include/_head }}
  <body>
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Main -->
      <section id="main" class="wrapper">
        <div class="inner">
          <h1 class="major">Centre for Fiscal Democracy: Official languages</h1>
          <p>View our site in another language</p>
          <ul>
            <li><a href="/en">English</a></li>
            <li><a href="/en">Nederlands</a></li>
            <li><a href="/en">Deutsch</a></li>
            <li><a href="/en">Slovenski</a></li>
            <li><a href="/enh">Српскохрватски</a></li>
          </ul>
        </div>
      </section>
    </div>
  {{> include/_footer }}
  {{> include/_scripts }}
  </body>
</html>
