        <section>
          <a href="#" class="image">
            <img src="{{ picture_url }}" alt="{{ alt }}" data-position="center center" />
          </a>
          <div class="content">
            <div class="inner">
              <h2>{{ name }}</h2>
              {{ description }}
            </div>
          </div>
        </section>
